{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="col-md-10">
   
<div class="card mt-4 mr-2 ml-2">
  <div class="card-title text-secondary mt-2 mr-2 ml-2 ">Suggestions</div>
  {% for post in posts %}
  <div class="container">
      <div class="row">
       
          <div class="col-md-2 mr-3 mt-1 mb-2">
              <img class="rounded-circle" src="{{ user.profile.image.url }}"
                   width="45px" height="45px">
          </div>
          <div class="col-md-6 mr-2 mt-2">
              <span><a href="{% url 'profileApp:user_profile' user.username  %}">{{user.username}}</a></span>
          </div>
          <div class="col-md-4">
          </div>
      </div>
  </div>

  {% endfor %}
  {% endblock %}