{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <h3 class="white-important mb-3">
    Post
  </h3>
  <article class="media content-section">
    <div style="width: 100%; word-break: break-all;" class="hovered-tweet-comment">
      <div class="pb-2 row m-0 " style="width: 100%; margin-right: 0 !important;">
        <div style="padding-left: 0px !important;" class="col-8 no-padding d-flex align-items-center">
          <img class="rounded-circle mr-2" style="width: 20px; height: 20px;" src="{{ post.author.profile.image.url }}">
          {{ post.author }}
        </div>
        <div class="col-4 d-flex flex-row-reverse no-padding align-items-center" style="padding-right: 0 !important;">
          {% if post.author == user %}
          <div class="row">

            <div class="col">
              <a style="margin-right: 4rem;"
                        href="{% url 'homepage:post-delete' post.id %}">Trash</a>
            </div>
            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
              <a 
                        href="{% url 'homepage:post-update' post.id %}">update</a>
                    
            </div>
          </div>
          {%  endif %}
        </div>
      </div>
      <div class="mb-2 " style="width: 100%;">
        <a>
          <img class="card-img-top" class="img-responsive" src="{{post.image.url}}" size="100px200">
          <p>
            {{ post.description }}
          </p>
          <small class="white-important d-flex full-width flex-row-reverse">
            {{ post.date_posted | date:"H:i l, d.m.y" }}
          </small>
        </a>
      </div>
  </article>
 
</div>

{% endblock content %}