<style>
ul { 
   padding: 0px;
   text-align: center;
}
li {
   float: left;
   width: auto;
   list-style: outside none none;
}
</style>

<div class="text-center">
<center><ul>
	<li>Meta</li>
	<li>About</li>
	<li>Blog</li>
	<li>jobs</li>
	<li>API</li>
    <li>Privacy</li>
	<li>Terms</li>
	<li>Top Accounts</li>
	<li>Hashtags</li>
	<li>Location</li>
    <li>Instagram Lite</li><br>
	<li>Beauty</li>
	<li>Dance</li>
	<li>Fitness</li>
	<li>Food & Drink</li>
    <li>Home & Garden</li>
	<li>Music</li>
	<li>Visual Arts</li>

</ul></center></div>